/* carousel */
.carousel {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 70px;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-left 45s linear infinite;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 300px;
  max-height: 200px;
  margin-right: 20px;
  border-radius: 8px;
}

.carousel-track:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .carousel-track {
    animation-duration: 25s;
  }
}



/* This is the loop animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
