body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #1d1d1f;
}

h1{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}

.contact-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ccc;
  font-weight: bold;
}


.tab {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


#contact_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  
}

#contact_info div{
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.contact-form {
  display: grid;
  align-items: center; /* Centra todos los elementos verticalmente */
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f5f5f7;
}

.contact-form textarea {
  resize: vertical;
  min-height: 250px;
}

.contact-form button {
  background-color: #dbe1e1;
  color: #1e1e2f;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color: #8ca9a7;
}

#contact_FAQ{
  align-items: center; /* Centra todos los elementos verticalmente */
  padding: 15px;
}

#contact_FAQ p{
  margin-bottom: 20px;
}

.question{
  font-weight: bold;
}

.answer{
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #1e1e2f;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00c9b7;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 14px;
  background-color: #f5f5f7;
  color: #6e6e73;
}
