<header>
  <nav>
    <div class="nav-center">
      <div class="logo">
        <a href="/"><strong>GadgetCatalog</strong></a>
      </div>
      <ul class="menu">
        <li class="dropdown">
          <a href="/products">Products</a>
          <div class="dropdown-content">
            <div class="dropdown-inner">
              <div class="column">
                <p>Monitors</p>
                <ul>
                  <li>
                    <a href="/products/benq-zowie-xl2411k"
                      >BenQ Zowie XL2411K</a
                    >
                  </li>
                  <li>
                    <a href="/products/alienware-3225qf"
                      >Alienware 3225QF</a
                    >
                  </li>
                  <li>
                    <a href="/products/xiaomi-curved-gaming"
                      >Xiaomi Curved Gaming</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Webcams</p>
                <ul>
                  <li>
                    <a href="/products/nexigo-n60">NexiGo N60</a>
                  </li>
                  <li>
                    <a href="/products/logitech-brio-100"
                      >Logitech Brio 100</a
                    >
                  </li>
                  <li>
                    <a href="/products/emeet-smartcam-c960"
                      >EMEET SmartCam C960</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Mice</p>
                <ul>
                  <li>
                    <a href="/products/logitech-g-pro-x-superlight-2"
                      >Logitech G PRO X Superlight 2</a
                    >
                  </li>
                  <li>
                    <a href="/products/logitech-mx-master-3s"
                      >Logitech MX Master 3S</a
                    >
                  </li>
                  <li>
                    <a href="/products/razer-cobra-pro"
                      >Razer Cobra Pro</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Headphones</p>
                <ul>
                  <li>
                    <a href="/products/hyperx-cloud-2"
                      >HyperX Cloud 2</a
                    >
                  </li>
                  <li>
                    <a href="/products/logitech-g733"
                      >Logitech G733</a
                    >
                  </li>
                  <li>
                    <a href="/products/audeze-maxwell-wireless"
                      >Audeze Maxwell Wireless</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Speakers</p>
                <ul>
                  <li>
                    <a href="/products/jbl-flip-6">JBL Flip 6</a>
                  </li>
                  <li>
                    <a href="/products/pioneer-dj-dm-50d">Pioneer DJ DM-50D</a>
                  </li>
                  <li>
                    <a href="/products/creative-pebble-pro">Creative Pebble Pro</a>
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Microphones</p>
                <ul>
                  <li>
                    <a href="/products/blue-yeti">Blue Yeti</a>
                  </li>
                  <li>
                    <a href="/products/shure-mv7i">Shure MV7i</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Keyboards</p>
                <ul>
                  <li>
                    <a href="/products/aula-f75">Aula F75</a>
                  </li>
                  <li>
                    <a href="/products/keychron-k8-pro">Keychron K8 Pro</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>PC Controllers</p>
                <ul>
                  <li>
                    <a href="/products/razer-wolverine-v2-pro">Razer Wolverine V2 Pro</a
                    >
                  </li>
                  <li>
                    <a href="/products/gamesir-cyclone-2">GameSir Cyclone 2</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Graphics Tablets</p>
                <ul>
                  <li>
                    <a href="/products/wacom-ctl472">Wacom CTL472</a
                    >
                  </li>
                  <li>
                    <a href="/products/huion-kamvas-pro-27">HUION Kamvas Pro 27</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Storage</p>
                <ul>
                  <li>
                    <a href="/products/synology-ds923">Synology DS923</a
                    >
                  </li>
                  <li>
                    <a href="/products/toshiba-canvio-advanced">Toshiba Canvio Advanced</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Networks</p>
                <ul>
                  <li>
                    <a href="/products/tp-link-archer-t3u">TP-Link Archer T3U</a
                    >
                  </li>
                  <li>
                    <a href="/products/asus-usb-ac53">Asus USB-AC53</a
                    >
                  </li>
                </ul>
              </div>
              <div class="column">
                <p>Cables</p>
                <ul>
                  <li>
                    <a href="/products/dbillionda-cat8-ethernet">DbillionDa Cat8 Ethernet</a
                    >
                  </li>
                  <li>
                    <a href="/products/nothing-cable-usb-c-c">Nothing Cable USB-C-C</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <!-- Removed the search bar from the top -->
  </nav>
</header>
